.main{
    display: flex;
    flex-direction: column;
    padding: 10px 250px;
    width: 60vw;
}

.get-btn{
    align-self: flex-start;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: #ffffff;
    border: 0px;
    border-radius: 25px;
}

.get-btn:hover{
    cursor: pointer;
}

.main-heading{
    font-size: 50px;
    margin-top: 0px;
}